splunk-enterprise:
  password: "ccwG7aac949AOh7s"
  enterprise:
    image:
      repository: splunk/splunk
      tag: latest
  service:
    type: ClusterIP
  licenseUrl: ""
  resources:
    requests:
      memory: "2Gi"
      cpu: "500m"
    limits:
      memory: "4Gi"
      cpu: "2000m"
  persistence:
    enabled: true
    storageClass: ""
    size: 20Gi
  hec:
    enable: true
    port: 8088
    ssl: false
