name: Call Central DevSecOps
on:
  push:
    branches: [ development, main ]
  pull_request:
    branches: [ development, main ]

jobs:
  run-security:
    uses: walsung/shared-actions/.github/workflows/devsecops.yml@main
    secrets: inherit
